:root {
  /* Square Balloon Brand Colours */
  --blue--900: #2d3945;
  --blue--800: #233a5a;
  --blue--700: #54667f;
  --blue--600: #046b8d;
  --blue--400: #00aeff;
  --blue--200: #c3e7f3;

  --pink--200: #fee0dd;
  --pink--500: #f04c5e;
  --pink--600: #d51d4f;

  --yellow--800: #ee5d23;
  --yellow--700: #f9a41e;
  --yellow--400: #f5df99;
  --yellow--300: #f5e7c4;
  /* End brand colours */

  /* Alternately you could use something like this */
  --main-colour: #00aeff;
  --secondary-colour: #233a5a;
  /* Then you would assign it using var(--main-colour); */
  /* this might be more useful if you are styling things to your customers colours each time */

  /* And a third option would be like this */
  /* 
    --header-logo-bg: #00aeff; 
    --header-bg: #00aeff);
  */
  /* The reason I didn't choose this is because I often find it harder to work out exactly what each class does, PLUS, I often reuse the same colour in various places, so it's more work. */
  /* Plus... I'm a big fan of self documenting code, which means you should use meaningful names.  */
  /* Although I can understand why some people find --btn-primary-bg meaningful.  I prefer --btn-blue-bg as that is clearer what it does in my eyes */


  /* Override Joomla Atum Template Colours */
  --header-logo-bg: var(--blue--400);
  --header-bg: var(--blue--400);
  --sidebarwrapper-bg: var(--blue--400);
  --main-nav-mm-active-bg: var(--blue--900);
  --template-sidebar-bg: var(--blue--400);
  --btn-primary-bg: var(--blue--400);
  --btn-secondary-color: #fff;
  --btn-secondary-bg: var(--blue--400);
  --btn-secondary-border: var(--blue--900);
  --header-item-content-bg: var(--blue--900);
  --header-item-content-jversion-color: var(--blue--900);
  --main-nav-ul-bg: var(--blue--200);
}

#menu12 ul a {
  --sidebar-item-color: var(--blue--900);
  font-weight: 600;
}

.header .logo img {
  width: 300px;
  height: auto;
}
